# ${IMAGE_NAME}

* Ruby development image

## Versions / packages
* ruby ${IMAGE_VERSION}

## Usage

### Standalone app:

```
docker run --rm \
      -v `pwd`/src:/work/app \
      ${IMAGE_NAME}:${IMAGE_VERSION} \
      make up
```

